@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:200,400,800&display=swap&subset=latin-ext');
$title-font: 'Abril Fatface', serif;
$text-font: 'Montserrat', sans-serif;
$light-font: 'Montserrat Light', sans-serif;
$bold-font: 'Montserrat Bold', sans-serif;

$primary-color: #474844;
$secondary-color: #FFF2D2;

$title-size: 4em;
$text-size: 1.2em;

@font-face {
    font-family: 'Montserrat Light';
    src:  url('fonts/mlight.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src:  url('fonts/mnormal.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src:  url('fonts/mbold.ttf') format('truetype');
    font-display: swap;
}

*{
    background-color: $secondary-color;
    color: $primary-color;
    font-family: $text-font !important;
    font-size: $text-size;
    font-weight: 400;

}
.lax{
    transform-origin: center left;

}

.title{
    font-family: $title-font !important;
    font-weight: 300;
    font-size: $title-size;
    // margin-left: 3vw
}

.hero{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 3vw;
    // margin-bottom: 1vh;

    .subtitle{
        font-size: $text-size;
        font-weight: 100;
        // margin-left: 3vw;
    }

    #navigator{
        text-align: center;
        // margin-bottom: 5vh;
    }
    a{
        text-decoration: none;
    }
}

.aboutme{
    padding-top: 5vh;
    // height: 100vh;
    padding-left: 5vw;
    padding-right: 3vw;
    .subtitle{
        font-family: $title-font !important;
        font-weight: 300;
        font-size: 2em;
        // margin-left: 3vw;
        // margin-top: 1em;
        background: none;
        
    }

    p{
        font-size: $text-size;
        font-weight: 100;
        // margin-left: 3vw;
        margin-top: 1em;
        margin-bottom: 1em;
        float:left;
        img{
            // width: 45%;
            height: 14rem;
            float:left;
            margin-right: 3vw;
            margin-bottom: 1%;
        }
    }

    //Eddigi munkák
    article{
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "mainimg mainimg"
        "txt txt"
        "icons desc";
        img{
            width: 98%;
        }

        .main-img{
            grid-area: mainimg;
        }
        section{
            grid-area: txt;
            h3{
                font-family: $title-font !important;
                font-size: 1.7em;
            }
            p{
                font-size: 1.1em;
            }
            margin-bottom: 1vh;
        }
        .icons{
            grid-area: icons;
            display:flex;
            align-items: center;
            img{
                width: (75%/4);
                margin-right: 3vw;
            }

        }
        .description{
            grid-area: desc;
            border-left: 1px solid $primary-color;
            padding-top: 3vw;
            padding-left: 5vw;
            p{
                font-size: 0.9em;
                margin: 0.1vh;
            }
        }
    }
}


//navi és hambi
nav{
    position: fixed;
    width: 100vw;
    height: 5vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1.5vh;

    cursor: pointer;

    z-index: 100;

    #ham{
        height: 5vh;
        margin-right: 5vw;
    }

    h1{
        font-family: $title-font !important;
        margin-left: 5vw;
    }



}

aside{
    position: fixed;
    right: 0;
    top:0;
    height: 100vh;
    // width: 65vw;
    width: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 500;

    // display: none;
    a{
        font-size: 1em;
        margin-left: 4vw;
        text-decoration: none;
        background:none;
        color: rgba($color: #ffffff, $alpha: 0.9);
        // font-weight: bold;
        font-family: $text-font;
        font-weight: 550;

        &:hover{
            text-decoration: underline !important;
        }
    }

    ul{
        background:none;
        li{
            background:none;
            margin-bottom: 2rem;

        }
        &:first-child{
            margin-top: 2rem;
        }
    }
}