$title-font: 'Abril Fatface', serif;
$text-font: 'Montserrat', sans-serif;
$light-font: 'Montserrat Light', sans-serif;
$bold-font: 'Montserrat Bold', sans-serif;

$primary-color: #474844;
$secondary-color: #FFF2D2;

$title-size: 4em;
$text-size: 1.2em;